.container{
    width: 90%;
    margin: auto;
    display: flex;
}

.sectionAbout{
    width: 50%;
}
.sectionAbout img{
    width: 90%;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.sectionAbout p{
    line-height: 30px;
}